fastapi
uvicorn
pydantic
python-multipart
chromadb
sentence-transformers
groq
langchain
langchain-community
joblib
scikit-learn
torch
torchvision
timm
pillow
opencv-python
numpy
onnxruntime
insightface
transformers
